{% extends 'layouts/main.html' %}

{% block title %}
  shop registraion
{% endblock title %}

{% block content %}
<div class="container " style="margin-top:65px;">
  <div class="row" >
    <div class="col-12">
      <h4 class="mb-3">register</h4>
      <hr style="border-color: aliceblue;"></hr>
      {% include 'inc/message.html' %}
    </div>
    <section class="py-4 my-5">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-4">
                <label for="" class="form-label"> User Name</label> 
                {{form.username}}
              </div>
              <div class="mb-4">
                <label for="" class="form-label"> email address</label>
                {{form.email}}
               
              </div>
              <div class="mb-4">
                <label for="" class="form-label"> password</label>
                {{form.password1}}
               
              </div>
              <div class="mb-4">
                <label for="" class="form-label"> confirm password</label>
                {{form.password2}}
                
              </div>
              <button class="btn btn-primary"> register</button>
            </form>
            <p class="my-2">Already User ?<a href="{% url 'login' %}">Login Now</a></p>
          </div>
          <div class="col-6">
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-4">
                {% if form.errors.username %}
                <label class="text-danger">{{form.errors.username }}</label>
                {% endif %}
              </div>
              <div class="mb-4">
                
                {% if form.errors.email %}
                <label class="text-danger">{{form.errors.email }}</label>
                {% endif %}
              </div>
              <div class="mb-4">
               
                {% if form.errors.password1 %}
                <label class="text-danger">{{form.errors.password1 }}</label>
                {% endif %}
              </div>
              <div class="mb-4">
               
                {% if form.errors.password2 %}
                <label class="text-danger">{{form.errors.password2 }}</label>
                {% endif %}
              </div>
              
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}


